@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');

body {
    max-width: 960px;
    margin: 20px auto;
    background-color: antiquewhite;
    font-family: 'Rubik Pixels', cursive, sans-serif;
}

/* header */
.header-hide {
    display: none;
}

#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

#header-container>h1 {
    color: red;
    font-size: 82px;
    border-bottom: 5px solid white;
    border-radius: 20px;
    padding: 5px;
}

#header-container>button {
    padding: 10px 20px;
    margin: 10px;
    border: 5px solid rgb(109, 104, 104);
    border-radius: 15px;
    box-shadow: 0 0 8px 1px black;
}

#header-container>button:active {
    color: rgb(231, 162, 162);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#header-container>button:hover {
    cursor: pointer;
    transition: 0.2s;
    transition: 0.2s;
}

/* /////////////////////////////////////////////////////////////////////////////// */

/* button container */
#button-hide {
    display: none;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 10px;
    margin-right: 50px;
}

#button-container>button {
    padding: 10px 20px;
    margin: 10px;
    border: 5px solid rgb(109, 104, 104);
    border-radius: 15px;
    box-shadow: 0 0 8px 1px black;
    width: 100px;
}

#button-container>button:active {
    color: rgb(231, 162, 162);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#button-container>button:hover {
    cursor: pointer;
    transition: 0.1s;
}

/* /////////////////////////////////////////////////////////////////////////////// */

/* main container */
.main-hide {
    display: none;
}

#main-container {
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.box {
    width: 150px;
    height: 150px;
    text-align: center;
}

#one,
#two,
#four,
#five,
#seven,
#eight {
    border-right: 5px dashed white;

}

#one,
#two,
#three,
#four,
#five,
#six {
    border-bottom: 5px dashed white;
}

.main-visibility {
    opacity: 0.12;
}

#reset-button-container {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#reset-button {
    padding: 10px 20px;
    margin: 10px;
    border: 5px solid rgb(109, 104, 104);
    border-radius: 15px;
    box-shadow: 0 0 8px 1px black;
    width: 120px;

}

#reset-button:active {
    color: rgb(231, 162, 162);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#reset-button:hover {
    cursor: pointer;
}


.reset-hide {
    display: none;
}

/* /////////////////////////////////////////////////////////////////////////////// */

@keyframes append-animate {
	from {
		transform: scaleY(0);
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		opacity: 1;
	}
}

#randomId {
    display: flex;
    justify-content: center;
    color: rgb(212, 42, 20);
    font-size: 34px;
    margin-top: 10px;
    text-align: center;
    transition: 2s;
    transform-origin: 50% 0;
	animation: append-animate .3s linear;

}

.player1 {
    color: antiquewhite;
    background-image: url(../img/pngwing.com.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 20px;
}

.player2 {
    color: antiquewhite;
    background-image: url(../img/O-Jolle_insigna\ \(1\).png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 20px;
}

#display-winner {
    display: none;
}