@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');

body {
    max-width: 960px;
    margin: 20px auto;
    background-color: antiquewhite;
    font-family: 'Rubik Pixels', cursive, sans-serif;
}

/* header */
.header-hide {
    display: none;
}

#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

#header-container>h1 {
    color: red;
    font-size: 82px;
    border-bottom: 5px solid white;
    border-radius: 20px;
    padding: 5px;
    text-shadow: 1px 1px 5px black;
}

#header-container>button {
    padding: 10px 20px;
    margin: 10px;
    border: 5px solid rgb(109, 104, 104);
    border-radius: 15px;
    box-shadow: 0 0 8px 1px black;
}

#header-container>button:active {
    color: rgb(231, 162, 162);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#header-container>button:hover {
    cursor: pointer;
    transition: 0.2s;
    color: rgb(231, 162, 162);
}

/* /////////////////////////////////////////////////////////////////////////////// */

/* button container */
#button-hide {
    display: none;
}
#button-text-display {
    font-size: 28px;
    text-shadow: 2px 2px 5px rgb(129, 113, 113);
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 10px;
}

#button-container>button {
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid rgb(109, 104, 104);
    border-radius: 15px;
    box-shadow: 0 0 8px 1px black;
    width: 100px;
    font-weight: 900;
}

#button-container>button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#button-container>button:hover {
    cursor: pointer;
    transition: 0.2s;
}

#X:hover {
    color: red;
}

#O:hover {
    color: rgb(40, 120, 225);
}

/* /////////////////////////////////////////////////////////////////////////////// */

/* main container */
.main-hide {
    display: none;
}

#main-container {
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.box {
    width: 150px;
    height: 150px;
    text-align: center;
}

#one,
#two,
#four,
#five,
#seven,
#eight {
    border-right: 5px dashed white;
}

#one,
#two,
#three,
#four,
#five,
#six {
    border-bottom: 5px dashed white;
}

.main-visibility {
    opacity: 0.12;
}

/* /////////////////////////////////////////////////////////////////////////////// */

/* Reset button */

#reset-button-container {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#reset-button {
    padding: 10px 20px;
    margin-right: 50px;
    border: 5px solid rgb(109, 104, 104);
    border-radius: 15px;
    box-shadow: 0 0 8px 1px black;
    width: 120px;
}

#reset-button:active {
    color: rgb(231, 162, 162);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#reset-button:hover {
    cursor: pointer;
    transition: 0.2s;
    color: rgb(231, 162, 162);
}

.reset-hide {
    display: none;
}

/* /////////////////////////////////////////////////////////////////////////////// */

/* End Game Button */

#end-game {
    padding: 10px 20px;
    margin: 10px;
    border: 5px solid rgb(109, 104, 104);
    border-radius: 15px;
    box-shadow: 0 0 8px 1px black;
    width: 120px;
}

#end-game:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#end-game:hover {
    cursor: pointer;
    transition: 0.2s;
    color: rgb(231, 162, 162);
}

/* /////////////////////////////////////////////////////////////////////////////// */

#scorekeeper {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    opacity: 0.8;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.scoreX-hide {
    display: none;
}

.scoreO-hide {
    display: none;
}

#score-X {
    color: red;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 2px;
}

#score-O {
   color: rgb(40, 117, 190);
   text-shadow: 1px 1px 2px black;
   letter-spacing: 2px;
}

/* /////////////////////////////////////////////////////////////////////////////// */

@keyframes append-animate {
	from {
		transform: scaleY(0);
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		opacity: 1;
	}
}

#display-result {
    display: flex;
    justify-content: center;
    color: rgb(250, 247, 247);
    text-shadow: 1px 1px 5px black;
    padding: 15px;
    border-radius: 10px;
    letter-spacing: 2px;
    font-size: 44px;
    margin-top: 10px;
    text-align: center;
	animation: append-animate .3s linear;
}

#display-winner {
    display: none;
}

.player1 {
    color: antiquewhite;
    background-image: url(../img/pngwing.com\ \(1\).png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 20px;
}

.player2 {
    color: antiquewhite;
    background-image: url(../img/pngegg\ \(1\).png);
    background-size: 95px;
    background-repeat: no-repeat;
    background-position: 20px;
}

